h1,h2 {
    font-family: "Oswald";
}
#navbar a {
    margin-left: 50px;
    margin-right: 50px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}
body {
    font-family: "Open Sans";
    color: darkblue;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: ivory;
}
img {
    float: left;
}
.left {
    float: left;
    padding: 1em;
    width: 300px;
}
.right {
    float: right;
    padding: 1em;
    width: 300px;
}
.center {
    margin-left: 300px;
    margin-right: 300px;
    padding: 1em;
}